<h2>Investment Plan Generator</h2>
<form id="investment-generator" name="investment-generator" action="/investor/invest_my_money">
  <p>
  <p>Amount to invest (USD)</p><input type="text" name="amount-to-invest" /><br />
  <p>Time (DAYS)</p><input type="text" name="time-to-invest" /><br />
  <p>Risk Level</p>
  <input type="number" name="risk-level" />
  <br /><br />
  <input type="submit" id="submitplan" value="Make Plan for me!" />
  </form>
</p>